---
layout: default
background : 'bg-about.jpg'
---

<!-- Page Header -->
{% if page.background %}
  <header title="Header images by artstation.com/dtmayer" class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
    <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Qui sommes-nous ?</h1>
            {% if site.description %}
              <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-10 mx-auto">

        {{ content }}

        <!-- Home Post List -->
      <p class="text-white"> Nous sommes 14 étudiants en Developpement Web & Web application au sein de l'organisme Simplon.</p><p>Nous avons commencé notre formation en juin dernier</p>
      <p>Tous les matins, nous faisons des veilles sur des thèmes variés</p>
      <p>Sur ce blog, nous allons vous partager ces dernières. </p><p>Pret pour un an de veilles ? C'est parti !</p>


        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div>
