---
layout: default

---

<!-- Page Header -->
{% if page.background %}
  <header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
    <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Nos articles</h1>
            {% if site.description %}
              <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-10 mx-auto">

        {{ content }}

        <!-- Home Post List -->
   
          <article class="post-preview">
            <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
              <div class="post-container">
                <div class="post-img-container">
                  <img class="post-img" src={{post.background}}>
                </div>
                <div class="post-text">
                  <div class="post-text-header">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <p class="post-meta">
                      {{ post.date | date: '%B %d, %Y' }}
                    </p>
                    </div>
                  {% if post.subtitle %}
                    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                  {% else %}
                    <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 20 }}</h3>
                  {% endif %}
                </div>
              </div>
            </a>
          </article>

          <hr>

        {% endfor %}


      </div>
    </div>
  </div>
